.navButton {
    margin-top: 10px;
    background-color: #30A6E9;
    color: #FFFFFF;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 45px;
    box-shadow: 0 2px 4px rgb(0,0,0, 0.1);
    transition: background-color 0.2s;

}

.navButton:hover{
    background-color: #e0e0e0;
}

.navButton.disabled {
    background-color: #e0e0e0;
    color: #aaa;
    cursor: not-allowed;
    box-shadow: none;
}

