.navButton {
    margin-top: 10px;
    background-color: #f2f2f2;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16x;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    box-shadow: 0 2px 4px rgb(0,0,0, 0.1);
    transition: background-color 0.2s;

}

.navButton:hover{
    background-color: #e0e0e0;
}

